$def with (producto)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Detalles del Producto</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <div style="text-align: center;">
                                            <img src="data:image/png;base64,${producto[5]}" alt="Imagen del producto" style="width: 40%; height: auto; display: inline-block; margin-bottom: 20px;">
                                        </div>
                                    </tr>
                                    <tr>
                                        <th>Id_Producto:</th>
                                        <td>${producto[0]}</td>
                                    </tr>
                                    <tr>
                                        <th>Nombre:</th>
                                        <td>${producto[1]}</td>
                                    </tr>
                                    <tr>
                                        <th>Descripción:</th>
                                        <td>${producto[2]}</td>
                                    </tr>
                                    <tr>
                                        <th>Precio:</th>
                                        <td>${producto[3]}</td>
                                    </tr>
                                    <tr>
                                        <th>Existencias:</th>
                                        <td>${producto[4]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/" class="btn btn-outline-primary form-control">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
