$def with (productos, page, total_paginas)

<div class="container">
    <div class="contenido">
        <br>
        <div class="titulo text-center mb-4">
            <h1>Productos</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <form class="d-flex" action="/" method="post">
                        <label class="me-1" for="search">Buscar:</label>
                        <input type="text" class="form-control me-1" id="search" name="search">
                        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
                    </form>
                </div>
                <div class="col-md-6 mb-4"> 
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> <!-- Ajuste de clase para alinear a la derecha -->
                        <a href="insertar" class="btn btn-outline-warning">Insertar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        
        <div class="row justify-content-center">
            <div class="col-md-8">
                <ul class="list-group mt-3">
                    $if productos:
                        $for producto in productos:
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-md-4">
                                        <img src="data:image/png;base64,${producto[5]}" class="card-img-top" alt="Imagen del producto" style="max-height: 200px; object-fit: contain;">
                                    </div>
                                    <div class="col-md-8">
                                        <h5>${producto[1]}</h5>
                                        <p>${producto[2]}</p>
                                        <p>Precio: ${producto[3]}</p>
                                        <p>Existencias: ${producto[4]}</p>
                                        <div class="row">
                                            <div class="col">
                                                <a href="actualizar?id=${producto[0]}" class="btn btn-outline-primary d-block">Actualizar</a>
                                            </div>
                                            <div class="col">
                                                <a href="borrar?id=${producto[0]}" class="btn btn-outline-danger d-block mb-2">Eliminar</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                    $else:
                        <li class="list-group-item">No hay productos disponibles.</li>
                </ul>
            </div>
        </div>

        <!-- Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-4">
              <li class="page-item">
                <a class="page-link" href="/?page=${page-1}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              $for i in range(1, total_paginas+1):
                <li class="page-item"><a class="page-link" href="/?page=${i}">${i}</a></li>
              <li class="page-item">
                <a class="page-link" href="/?page=${page+1}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
          
        
    </div>
</div>
